# Backend build files
backend/EVRentalApi/bin/
backend/EVRentalApi/obj/
.vs/
*.user
*.suo

# Frontend
node_modules/
dist/
build/
.env
.env.local
.env.development.local
.env.production.local
.env.test.local

# Misc
*.log
*.cache
*.pdb
*.exe
*.dll
